# Qt Creator
CMakeLists.txt.user

# docker
docker/Dockerfile*
docker/*.dockerfile

# macOS
.DS_Store
._.DS_Store

# Wiki
*.wiki
*.wiki/*

# example
example/*.arc
example/*.dyn

# Manual
doc/manual/_build/*

# Nsight
Debug/*
Release/*
.cproject
.project
.settings/*

# CLion
.idea
.idea/*

# VSCode
.vscode
.vscode/*

# bin
bin/*
bin*/*

# build
build
build/*
build*/*

# vi
*.swp

# gdb
*.out
