# auto normalize files which are explicitly text

.gitattributes  text
.gitignore      text
_clang-format   text
Doxyfile        text
LICENSE         text
*.html          text
*.markdown      text
*.md            text
*.rst           text
*.tex           text
*.txt           text

*.cmake         text
*.c             text
*.cc            text
*.cpp           text
*.cxx           text
*.cu            text
*.h             text
*.hh            text
*.hpp           text
*.hxx           text

*.py            text
*.yaml          text
*.yml           text


# files normalized to always keep Unix line endings

Makefile  eol=lf
*.mk      eol=lf
*.sh      eol=lf
